.nav-link{
    margin-left:100px;
}

th, tr{
    text-align: center;
}

.info-event{
    background-color: white;
    text-align: center;
}

.log{
    margin:10px; 
    position: fixed;
    right: 10px;
}

.cover{
    color: white;
    background: url('/photos/cover1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.jumbotron{
    margin-bottom: 0px;
}

.signup-container{
    margin-left: 100px;
    margin-right: 100px;
}